.links {
 margin: 50px;
}
.article-image img {
  max-width: 500px;
  max-height: 400px;
}
.hustle {
  font-family: 'Cinzel', serif;
  font-size: 80px;
  letter-spacing: 100px;
  font-weight: bold;
}
.hustle2 {
    padding-left: 105px;
}

.article-content {
	float: left;
}
.articleTitle a {
  font-weight: bold;
  color: black;
  font-size: 24px;
}
.articleHome img {
  max-width: 300px;
  max-height: 300px;
}
.articleHome {
  margin: 50px;
}
.seperator {
	margin-bottom: 20%;
}
.outlet {
	margin-top: 5%;
}

hr {
	border-color: #123455;
}

.headlinks a {
	color: black;
	letter-spacing: 5px;
	font-family: 'Cinzel', serif;
	text-align: left;
}
.searchBar {
  text-align: right;
}
