<div class="container">

	<h1 class="hustle jumbotron"><span class="hustle2">HUSTLE</span></h1>

	<hr>
  <div class="headlinks">
    <span class="links"> {{#link-to 'index'}}Home{{/link-to}}</span>
    <span class="links"> {{#link-to 'about'}}About Us{{/link-to}}</span>
		<span class="links">  {{#link-to 'contact'}}Contact Us{{/link-to}}</span>
		<span class="searchBar">Search: <input id="search"></span>
  </div>
   <hr>

  <div class="outlet">
  	{{outlet}}
  </div>

	<footer>

	</footer>
</div>
