<div class="container">
  <header class = "jumbotron">
    <h1>Header</h1>
    <div class="headlinks">
	   <span class="links"> {{#link-to 'index'}}Home{{/link-to}}</span>
	   <span class="links"> {{#link-to 'about'}}About Us{{/link-to}}</span>
	  <span class="links">  {{#link-to 'contact'}}Contact Us{{/link-to}}</span>
    </div>
  </header>
    {{outlet}}
  <footer>
   
  </footer>
</div>