<div class="container">
<div class="header">
	<h1><font size="10000">HUSTLE</font></h1>
</div>
    <div class="headlinks">
	    <span class="links"> {{#link-to 'index'}}Home{{/link-to}}</span>
	    <span class="links"> {{#link-to 'about'}}About Us{{/link-to}}</span>
		<span class="links">  {{#link-to 'contact'}}Contact Us{{/link-to}}</span>
    </div>

   <hr>


    <div class="outlet">
    	{{outlet}}
    </div>

  <footer>
   
  </footer>
</div>