<ul>
  {{#each model.articles as |article|}}
     <div class="article">
     	{{article-tile article=article}}
     </div>
  {{/each}}
</ul>

{{filter-listing filteredList=filteredList
autoComplete=(action 'autoComplete') search=(action 'search')}}
{{#each model.articles as |articles|}}
  {{article-tile article=article}}
{{/each}}
